<h1>Book Your Tickets</h1>
<form class="d-flex" method="GET" action="/search">
        <input class="form-control me-1" name="query" type="search" placeholder="Source" aria-label="Search"> <h6>To</h6>
        <input class="form-control me-1" name="query" type="search" placeholder="Destination" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>  
